body {
	background: rgb(255,255,255);
}

textarea {
	width: 80%;
}

.incomingCallOverlay {
	position:absolute;
	width:150px;
	height:75px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	z-index: 15;
	display:none;
}
.outgoingCallOverlay {
	position:absolute;
	width:150px;
	height:75px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	z-index: 15;
	display:none;
}
.audioOverlay {
	position:absolute;
	width:150px;
	height:75px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	z-index: 5;
	display:none;
}

.videoOverlay {
	
	position:absolute;
	margin-left: 40px;
	width:70%;
	height:70%;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	z-index: 5;
	display:none;
}

.ownVideo {
	position:absolute;
	width: 10%;
	height: auto;
	z-index: 10;
}
.otherVideo {
	position:absolute;
	width: 100%;
	height: auto;
	z-index: 6;
}

img {
	max-width: 100%;
	min-width: 100%;
}

.thumb {
    display: inline-block;
    width: 500px;
    height: 300px;
    margin: 1px;
    border: 1px solid #333;
    background-position: center center;
    background-size: cover;
}

.welcome {
   margin: 20px;
   font-size: 2em;
}

.welcomeBody {
   margin: 20px;
   font-size: 1.2em;
}

.yScrollPane {
	overflow-x: hidden;
	overflow-y: scroll;
}

.xScrollPane {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.scrollPane {
	overflow: auto;
}

.staticPane {
	overflow: hidden;
}

.agreement {
	max-width: 600px;
	margin: 10px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(240,240,240);
}

.button {
	text-decoration: none;
}

.dbutton {
	display: inline;
	min-width: 350px;
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(240,240,240);
}
.dbutton:hover {
	display: inline;
	min-width: 350px;
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(245,245,245);
}
.dbuttonMarked {
	display: inline;
	min-width: 350px;
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(255,200,200);
}
.dbuttonMarked:hover {
	display: inline;
	min-width: 350px;
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(255,230,230);
}
.dbuttonActive {
	display: inline;
	min-width: 350px;
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(230,230,255);
}
.dbuttonActive:hover {
	display: inline;
	min-width: 350px;
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(245,245,255);
}

.dcontactbutton {
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(240,240,240);
}
.dcontactbutton:hover {
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(245,245,245);
}
.dcontactbuttonOnline {
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(200,255,200);
}
.dcontactbuttonOnline:hover {
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(220,255,220);
}
.dcontactbuttonInactive {
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(245,245,230);
}
.dcontactbuttonInactive:hover {
	margin: 1px;
	padding: 15px;
	color:rgb(30,30,30);
	background: rgb(250,250,235);
}

#topBar {
	color:rgb(30,30,30);
	background: rgb(230,230,230);
	font-size: 1.4em;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 4px;
	margin-left: -10px;
	margin-top: -8px;
	margin-right: -8px;
}

#invite {
	float: right;
	font-size: 1.0em;
	margin: 1px;
	margin-top: -10px;
	margin-right: -10px;
	padding: 6px;
	color:rgb(30,30,30);
	background: rgb(232,232,232);
	text-decoration: none;
}

#invite:hover {
	color:rgb(30,30,30);
	background: rgb(245,245,245);
	text-decoration: none;
}

#tabBar {
	color:rgb(30,30,30);
	background: rgb(250,250,250);
	padding-top: 14px;
	padding-bottom: 14px;
	margin-left: -10px;
	margin-right: -8px;
}

#listPane {
	color:rgb(30,30,30);
	background: rgb(250,250,250);
	margin-left: -10px;
	float: left;
	width: 20%;
}

#container {
}

.profile {
	float:left;
	max-width: 5%;
	min-width: 5%;
}
.profile2 {
	float:right;
	max-width: 5%;
	min-width: 5%;
}
.profile3 {
	float:left;
	margin-top: -6px;
	margin-right: 5px;
	max-width: 30px;
	min-width: 10px;
	max-height: 30px;
}

.videoContainer {
	background: rgb(0,0,0);
}

.audioContainer {
	background: rgb(0,0,0);
}
.messageWrapper {
	display: inline-block;
	max-width: 98%;
	min-width: 98%;
	margin: 1%;
}
.messageOther {
	min-width: 10%;
	max-width: 70%;
	display: inline-block;
	color:rgb(30,30,100);
	background: rgb(245,245,255);
	padding: 15px;
}
.messageYou {
	min-width: 10%;
	max-width: 60%;
	display: inline-block;
	color:rgb(30,100,30);
	background: rgb(245,255,245);
	padding: 15px;
}
.msgHeader {
	display: inline-block;
	font-style: italic;
}
.msgHeaderName {
	display: inline-block;
	font-size: 0.85em;
}

.msgHeaderTime {
	display: inline-block;
	font-size: 0.75em;
}

.msgBody {
	max-width: 100%;
	display: inline-block;
	white-space:pre-wrap;
	word-wrap: break-word;
	color:rgb(30,30,30);
	margin-left: 10px;
}
#chatContainer {
	overflow-y: scroll;
}
